
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@font-face {
  font-family: "Armies display";
  src: url("./assets/fonts/Armies display.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1, h3{
  font-family: "Armies display";

}
p{
  font-family:'Lato', sans-serif;
}
#root {
  max-width:100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url(../src/assets/Inicio.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pages-wrapper {
  height: 100vh;
  width: 100%;
}

/* Estilos para el botón del carrusel */
.carousel-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(-50%) scale(1.1);
}

.carousel-button.left {
  left: 20px;
}

/* Animaciones para la transición de página */
.studies-section {
  position: relative;
  transition: transform 0.5s ease-in-out;
}

/* Si necesitas una animación más avanzada, añade esto */
.page-enter {
  transform: translateX(100%);
}

.page-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in;
}

.page-exit {
  transform: translateX(0);
}

.page-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
}